/*  */
body{
  margin: 0;
}
#wrapper{
  width: 100%;
  display: grid; /*  */
  grid-template-columns: 100%; /*  */
  grid-template-rows:10%; /*  */
  grid-gap: 30px; /*  */
  grid-template-columns: auto; /*  */
/*
  width: 100%;
  height: 5000px;
  background-color: blue; */
  height: 10060px;
}
.nav {
  width:100%;
  background-color: #fafafa; /* Bakgrundsfärg nav */
  display: flex; /* Säger hur komponenterna ska röras när skärmen rörs */
  justify-content: center; /* Placerar alla komponenter med medelpunkt i center */
  padding: 1rem; /* Avstånd mellan annat, på 1 'root em' ~ 16px  */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* Skugga runt och främst under lådan nav. Färg enl rgba. */
  position: absolute; /* Säger hur positionen ska vara, hur den ska påverkas. */
}
.nav a {
  height: 32px; /* Höjd på alla a i .nav */
  width: auto; /* Bredd är auto då storleken varierar mellan ikonerna */
  margin: 0 3rem; /* distans mellan kanter osv till a */
  margin-top: 2rem; /* distans från top till a */
  font-size: 2rem; /* Textstorlek på a och dess innehåll */
  color: #2980b9; /* Kompatibel färg från Adobe Kuler. */
  opacity: 0.7; /* Synlighet för a och dess innehåll i neutralt läge */
  transition: 0.25s; /* Säger hur lång tid det ska ta för a att förändras om något händer */
}
.nav a:hover {
  opacity: 1; /* Förändring i synlighet på a och dess innehåll då muspekaren svävar över omnämnd */
}
.firstImageOuter{

  height: 920px;
  width: 100%;

}
.firstImageInner{
  background-image: url('../imgs/PorscheGT3fast.jpg'); /*  */
  background-size: cover;
  height: 100%;
  width: 100%;
  max-height: 100%;
  position: absolute;

}
#down{

  position: absolute;



}
#firstDown {
position: absolute;


}
#box2{

height: 500px;
width: 100%;
position:relative;

}
header{
  width: 100%; /* Bredd för <header> */
  height: 150px; /* Höjd för <header> */
  background-color: darkblue; /* Bakgrundsfärg för <header> */
}
nav{
  width:100%; /* Bredd på <nav> */
  height: 100px; /* Höjd för <nav> */
  background-color: yellow; /* Bakgrundsfärg för <nav> */
}
main{
  width: 100%; /* Bredd för <main> */
  height: 620px; /* Höjd för <main> */
  background-color: green; /* Bakgrundsfärg för <main> */
}
